**/_build
/.idea
/.vscode
**/.ipynb_checkpoints

99-executable-code/
book/02-data-analysis-kit/01-basic-analyses/99-concepts.md
book/02-data-analysis-kit/02-advanced-analyses/02-gecco-complex-networks.md
book/custom.css
book/02-data-analysis-kit/02-advanced-analyses/Intersections_4.txt
book/02-data-analysis-kit/02-advanced-analyses/Venn_4.png